# Python
__pycache__/
myenv/
nohup.out

# Logs
*.log*
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

#secrets
*.pem

# Dependencies
node_modules/

# Local env files
.bashrc
.env
*.local
load_env.ps1
env
# Editor directories and files
.vscode/
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
